*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    position: relative;
}